#add-error {
    margin-top: 10px;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    float: center;
}

#form {
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    float: center;
    margin-top: 10px;
}