<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.phonar"
    android:versionCode="15"
    android:versionName="1.2.2" >

    <uses-sdk
        android:minSdkVersion="9"
        android:targetSdkVersion="14" />

    <!-- Permissions -->
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.SET_ORIENTATION" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.WAKE_LOCK" />
    <uses-permission android:name="android.permission.READ_CONTACTS" />
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <uses-permission android:name="android.permission.VIBRATE" />
    <uses-permission android:name="com.google.android.c2dm.permission.RECEIVE" />

    <permission
        android:name="com.phonar.permission.C2D_MESSAGE"
        android:protectionLevel="signature" />

    <uses-permission android:name="com.phonar.permission.C2D_MESSAGE" />
    <uses-permission android:name="android.permission.RECEIVE_SMS" />
    <uses-permission android:name="android.permission.SEND_SMS" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />

    <!-- Features -->
    <uses-feature android:name="android.hardware.camera" />
    <uses-feature android:name="android.hardware.screen.portrait" />
    <uses-feature android:name="android.hardware.location" />
    <uses-feature android:name="android.hardware.sensor.accelerometer" />
    <uses-feature android:name="android.hardware.sensor.compass" />

    <application
        android:name="PhonarApplication"
        android:icon="@drawable/icon"
        android:label="@string/app_name" >

        <!-- Libraries -->
        <uses-library android:name="com.google.android.maps" />

        <!-- Activities -->
        <activity
            android:name=".PhonarSplashActivity"
            android:configChanges="keyboard|keyboardHidden|uiMode|orientation"
            android:screenOrientation="portrait"
            android:noHistory="true"
            android:theme="@style/PhonarThemeSelector" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".PhonarTabActivity"
            android:configChanges="keyboard|keyboardHidden|uiMode|orientation"
            android:screenOrientation="portrait"
            android:theme="@style/PhonarThemeSelector" >
        </activity>
        <activity
            android:name=".PhoneNumberActivity"
            android:configChanges="keyboard|keyboardHidden|uiMode|orientation"
            android:screenOrientation="portrait"
            android:theme="@style/PhonarThemeSelector" >
        </activity>
        <activity
            android:name=".request.RequestActivity"
            android:configChanges="keyboard|keyboardHidden|uiMode|orientation"
            android:screenOrientation="portrait"
            android:theme="@style/PhonarThemeSelector" >
        </activity>
        <activity
            android:name=".request.AddOptionsActivity"
            android:configChanges="keyboard|keyboardHidden|uiMode|orientation"
            android:screenOrientation="portrait"
            android:theme="@style/PhonarThemeSelector" >
        </activity>
        <activity
            android:name=".PhonarActivity"
            android:configChanges="keyboard|keyboardHidden|uiMode|orientation"
            android:screenOrientation="portrait"
            android:theme="@style/PhonarThemeSelector" >
        </activity>
        <activity
            android:name=".ar.ARActivity"
            android:configChanges="keyboard|keyboardHidden|uiMode|orientation"
            android:screenOrientation="portrait"
            android:theme="@style/PhonarThemeSelector" >
        </activity>
        <activity
            android:name=".map.PhonarMapActivity"
            android:configChanges="keyboard|keyboardHidden|uiMode|orientation"
            android:screenOrientation="portrait"
            android:theme="@style/PhonarThemeSelector" >
        </activity>
        <activity
            android:name=".request.EditDeviceActivity"
            android:configChanges="keyboard|keyboardHidden|uiMode|orientation"
            android:screenOrientation="portrait"
            android:theme="@style/PhonarThemeSelector" >
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />

                <data
                    android:host="phonar.me"
                    android:pathPrefix="/add.php"
                    android:scheme="http" />
                <data
                    android:host="www.phonar.me"
                    android:pathPrefix="/add.php"
                    android:scheme="http" />
                <data
                    android:host="http://phonar.me"
                    android:pathPrefix="/add.php"
                    android:scheme="http" />
                <data
                    android:host="http://phonar.me/"
                    android:pathPrefix="/add.php"
                    android:scheme="http" />
            </intent-filter>
        </activity>
        <activity
            android:name=".PreferencesActivity"
            android:configChanges="keyboard|keyboardHidden|uiMode|orientation"
            android:screenOrientation="portrait"
            android:theme="@style/PhonarThemeSelector" >
        </activity>
        <activity
            android:name=".request.ContactPickerActivity"
            android:configChanges="keyboard|keyboardHidden|uiMode|orientation"
            android:screenOrientation="portrait"
            android:theme="@style/PhonarThemeSelector" >
        </activity>
        <activity
            android:name=".c2dm.RequestLocationActivity"
            android:configChanges="keyboard|keyboardHidden|uiMode|orientation"
            android:screenOrientation="portrait"
            android:launchMode="singleTop"
            android:theme="@android:style/Theme.Translucent.NoTitleBar" >
        </activity>
        <activity
            android:name=".c2dm.RequestLocationSourcesActivity"
            android:configChanges="keyboard|keyboardHidden|uiMode|orientation"
            android:screenOrientation="portrait"
            android:launchMode="singleTop"
            android:theme="@android:style/Theme.Translucent.NoTitleBar" >
        </activity>        
        <activity
            android:name=".c2dm.RequestLocationTrackingActivity"
            android:configChanges="keyboard|keyboardHidden|uiMode|orientation"
            android:screenOrientation="portrait"
            android:launchMode="singleTop"
            android:theme="@android:style/Theme.Translucent.NoTitleBar" >
        </activity>
        <activity
            android:name=".network.NetworkDialogActivity"
            android:configChanges="keyboard|keyboardHidden|uiMode|orientation"
            android:screenOrientation="portrait"
            android:launchMode="singleTop"
            android:theme="@android:style/Theme.Translucent.NoTitleBar" >
        </activity>
        <activity
            android:name=".network.NetworkRequestDialogActivity"
            android:configChanges="keyboard|keyboardHidden|uiMode|orientation"
            android:screenOrientation="portrait"
            android:launchMode="singleTop"
            android:theme="@android:style/Theme.Translucent.NoTitleBar" >
        </activity>                 

        <!-- Services -->
        <service android:name=".c2dm.RequestLocationService">            
        </service>
        <service android:name=".c2dm.ReceiveLocationService">            
        </service>
        <service android:name=".c2dm.RequestLocationDeniedService">            
        </service>
        <service android:name=".LowBatteryDialogService" >            
        </service>
        <service android:name=".upgrade.UpgradeService">            
        </service>
        
        <!-- Receivers -->
        <receiver android:name=".sms.SmsReceiver" >
            <intent-filter android:priority="999" >
                <action android:name="android.provider.Telephony.SMS_RECEIVED" />
            </intent-filter>
        </receiver>
        <receiver android:name=".c2dm.C2DMReceiver" >
            <intent-filter>
                <action android:name="com.google.android.c2dm.intent.RECEIVE" />

                <category android:name="com.phonar" />
            </intent-filter>
            <intent-filter>
                <action android:name="com.google.android.c2dm.intent.REGISTRATION" />

                <category android:name="com.phonar" />
            </intent-filter>
        </receiver>
        <receiver android:name=".upgrade.OnUpgradeReceiver">
	    	<intent-filter>
		        <action android:name="android.intent.action.PACKAGE_REPLACED" />
		        <data android:scheme="package" android:path="com.phonar" />
		    </intent-filter>
		</receiver>

        <!-- ZXing Stuff -->
        <activity
            android:name="com.google.zxing.client.android.CaptureActivity"
            android:configChanges="orientation|keyboardHidden"
            android:screenOrientation="landscape"
            android:theme="@android:style/Theme.NoTitleBar.Fullscreen"
            android:windowSoftInputMode="stateAlwaysHidden" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
            <intent-filter>
                <action android:name="com.google.zxing.client.android.SCAN" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
    </application>

</manifest>